

    .new-body{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 5vw;
        margin-bottom: 5vh;
        border-bottom: 2px solid black;
    }
    .new-body > *{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1vh;
    }
